@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.arsmap-views {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 800;
  width: 120px;
  height: 35px;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 4px;
  display:flex;
  flex-direction: row;
}

.map-view,
.list-view {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 700;
    color: $colorPrimary;
  }
  &:hover {
    background-color: $colorGray-92;
  }
}

.list-view {
  border-right: 1px solid #ccc;
}

.view--active {
  background-color: $colorGray-92;
}
