@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.site-header {
  background-color: $colorPrimary;
  height: 55px;
}
.site-header__container {
  @include container;
  height: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  a {
    text-decoration: none;
    color: #000000;
    p {
      font-weight: bold;
    }
  }
}
.site-header__logo {
  img {
    width: 170px;
    height: 40px;
  }
}
.site-header__title {
  font-family: $fontSerif;
  font-size: 18px;
  color: $colorWhite;
  text-align: center;
  padding-top: 19px;
  letter-spacing: 0.005em;
  @include font-smooth;
}
