@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.site-header {
  background-color: $colorBlack;
  height: 55px;
}
.site-header__container {
  @include container;
  height: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__right,
.site-header__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.site-header__right {
  width: 40%;
  a {
    text-decoration: none;
    color: $colorWhite;
    p {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.site-header__left {
  width: 35%;
  color: $colorWhite;
  h2 {
    font-size: $medFontSize;
    font-weight: $fontBold;
  }
}

.site-header__logo {
  img {
    width: 170px;
    height: 40px;
  }
}
.site-header__title {
  font-family: $fontSerif;
  font-size: 18px;
  color: $colorWhite;
  text-align: center;
  padding-top: 19px;
  letter-spacing: 0.005em;
  @include font-smooth;
}
