@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.site-header {
  background-color: $colorBlack;
  // height: 70px;
  height: 6.5%;
  @media (max-width: 750px) {
    height: 6.5vh;
  }
}

.site-header.site-header--responsive {
  height: 100%;
  width: 100%;
  z-index: 2000;
  position: fixed;
}

.site-header__container {
  @include container;
  height: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__right,
.site-header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-header__right {
  @media (min-width: 900px) {
    width: 40%;
    justify-content: space-between;
  }
  @media (min-width: 751px) {
    width: 45%;
    justify-content: space-between;
  }
  @media (max-width: 750px) {
    flex-direction: column;
    li:not(:last-child) {
      display: none;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
    }
  }
  a {
    text-decoration: none;
    color: $colorWhite;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.ham-icon {
  display: none;
  fill: #fff;
  @media (max-width: 750px) {
    display: block;
  }
}

@media (max-width: 750px) {
  .site-header__right.site-header--responsive {
    // position: relative;
    // z-index: 1000;
  }
  .site-header__right.site-header--responsive .ham-icon {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .site-header__right.site-header--responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

.site-header__left {
  width: 45%;
  color: $colorWhite;
  h2 {
    @media (max-width: 900px) {
      font-size: 2vw;
    }
    @media (max-width: 750px) {
      display: none;
    }
    font-size: $medFontSize;
    font-weight: $fontBold;
    padding-left: 60px;
  }
}

.site-header__logo {
  img {
    width: 170px;
    height: 40px;
  }
}
.site-header__title {
  font-family: $fontSerif;
  font-size: 18px;
  color: $colorWhite;
  text-align: center;
  padding-top: 19px;
  letter-spacing: 0.005em;
  @include font-smooth;
}
