@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.directory {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.providers {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.providers__search {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 25%;
  justify-content: space-between;
  input {
    padding-left: 20px;
    width: 100%;
    height: 55px;
    font-size: 16px;
    border-radius: 3px;
  }
}

.providers__results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  padding: 0 20px;
  background-color: $colorGray-92;
  border-bottom: 1px solid $colorGray-87;
  .providers__results-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .providers__results-options {
    display: flex;
    align-items: center;
    color: $colorPrimary;
    p {
      font-weight: $fontBold;
    }
  }
  // .providers__results-options--show {
  //   background-color: $colorPrimary;
  //   color: #ffffff;
  // }
}


.providers__options,
.providers__filter,
.providers__effects {
  display: flex;
  flex-direction: column;
}

.providers__effects {
  justify-content: space-between;
  .providers__effect {
    display: flex;
    flex-direction: row;
    input {
      margin-right: 10px;
    }
  }
}


.providers__filters {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  .providers__filter {
    align-items: center;
    padding: 10px;
  }
}

.providers__options,
.providers__list {
  height: 68%;
}

.providers__options {
  & > * {
    margin: 5px 5px 0 5px;
    background-color: #ffffff;
    padding: 30px 10px;
  }
}

.providers__list {
  overflow: auto;
}

.provider__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $colorGray-87;
  padding: 20px;
  position: relative;

  .provider {
    & > * {
      padding: 3px 0;
      font-size: 14px;
    }
    .provider__title {
      font-size: 19px;
      color: $colorPrimary;
      font-weight: $fontBold;
    }

    .provider__title,
    .provider__phone {
      margin-bottom: 5px;
    }
  }

  .provider__verified {
    display: flex;
    flex-direction: column;
    img {
      margin-top: auto;
    }
  }
}

