@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.directory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.providers {
  width: 25%;
  background-color: $colorGray-92;
  display: flex;
  flex-direction: column;
}

.providers__search {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 110px;
  justify-content: space-between;
  input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
}

.providers__results {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
  color: $colorPrimary;
  .providers__results-title {
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 70%;
    background-color: #ffffff;
    border-right: 1px solid #000000;
  }
  .providers__results-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #ffffff;
    &:hover {
      background-color: $colorPrimary;
      color: #ffffff;
    }
  }
  .providers__results-options--show {
    background-color: $colorPrimary;
    color: #ffffff;
  }
}


.providers__options,
.providers__filter,
.providers__effects {
  display: flex;
  flex-direction: column;
}

.providers__effects {
  justify-content: space-between;
  .providers__effect {
    display: flex;
    flex-direction: row;
    input {
      margin-right: 10px;
    }
  }
}


.providers__filters {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  .providers__filter {
    align-items: center;
    padding: 10px;
  }
}

.providers__options {
  & > * {
    margin: 5px 5px 0 5px;
    background-color: #ffffff;
    padding: 30px 10px;
  }
}


.provider {
  padding: 10px 0;
  padding-left: 10px;
  margin: 5px;
  border-bottom: 1px solid #ffffff;
  border-radius: 3px;

  background-color: $colorGray-49;
  & > * {
    padding: 3px 0;
    font-size: 14px;
  }
  .provider__title {
    font-size: 19px;
    color: #ffffff;
  }
  .provider__site {
    text-decoration: none;
    color: #ffffff;
  }
  &:hover {
    background-color: $colorGray-84;
  }
}
