@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.directory {
  width: 100%;
  display: flex;
  flex-direction: row;
  @media (max-width: 750px) {
    flex-direction: column;
    overflow: auto;
  }
}

.providers {
  @media (min-width: 751px) {
    min-width: 398px;
    width: 25%;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  order: 1;
  @media (max-width: 750px) {
    width: 100%;
    height: 70%;
    order: 2;
  }
}

.providers--no-vis {
  display: none;
}

.providers__search {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 25%;
  @media (max-width: 415px) {
    height: 50%;
  }
  justify-content: space-between;
  input {
    padding-left: 20px;
    width: 100%;
    height: 55px;
    font-size: 16px;
    border-radius: 3px;
  }
}

.providers__results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7%;
  @media (max-width: 415px) {
    height: 15%;
  }
  width: 100%;
  padding: 0 20px;
  background-color: $colorGray-92;
  border-bottom: 1px solid $colorGray-87;
  .providers__results-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .providers__results-options {
    display: flex;
    align-items: center;
    color: $colorPrimary;
    p {
      font-weight: $fontBold;
    }
    &:after {
      margin-left: 5px;
      content: url('./../../images/chev-down.png')
    }
  }
  .providers__results-options--show:after {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.providers__list {
  height: 68%;
  overflow: auto;
}

.provider__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $colorGray-87;
  padding: 20px;
  position: relative;

  .provider {
    & > * {
      padding: 3px 0;
      font-size: 14px;
    }
    .provider__title {
      font-size: 19px;
      color: $colorPrimary;
      font-weight: $fontBold;
    }

    .provider__title,
    .provider__phone {
      margin-bottom: 5px;
    }
  }

  .provider__verified {
    display: flex;
    flex-direction: column;
    img {
      margin-top: auto;
    }
  }
}
