@import 'components/_vars.scss';
@import 'components/_mixins.scss';

// Default Button
.button {
  @include button;
  &:hover {
    background-color: $colorWhite;
    color: $colorPrimary;
  }
}

// Hollow Button
.button.button--hollow {
  &:not(:hover) {
    background-color: $colorWhite;
    color: $colorPrimary;
  }
  &:hover {
    background-color: $colorPrimary;
    color: $colorWhite;
  }
}
