// @import './../../../../node_modules/leaflet/dist/leaflet.css';
@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.arsmap {
  display: flex;
  justify-content: center;
  width: 75%;
  position: relative;
  order: 2;
  @media (max-width: 750px) {
    order: 1;
    width: 100%;
    height: 30%;
  }
  // height: 100%;
  // flex-grow: 1;
}

.arsmap--full {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  // height: 100%;
}
.leaflet-popup-content-wrapper {
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content {
  width: 280px;
  height: 303px;
  padding: 10px;
}

.provider-popup__container {
  display: flex;
  flex-direction: column;
}
.provider-popup {
  & > * {
    line-height: .1;
  }
  .provider-popup__title {
    font-size: 19px;
    color: $colorPrimary;
    line-height: .5;
  }
  .provider-popup__site {
    text-decoration: none;
    color: $colorPrimary;
  }
  .provider-popup__phone,
  .provider-popup__hours {
    margin-bottom: 5px;
  }
}

