@import 'components/_vars.scss';
@import 'components/_mixins.scss';

.banner {
  width: 100%;
  // height: 200px;
  height: 17.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: $colorPrimary;
  background-image: url('./../../images/banner.png');
  color: $colorWhite;
  h1 {
    font-size: 70px;
  }
}

.banner__button {
  @include button;
  width: 240px;
  height: 55px;
  border-radius: 28px;
  background-color: blue;
  a {
    text-decoration: none;
    color: $colorWhite;
  }
}

